@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(120deg, rgb(122, 122, 50), navy) !important;
  font-size: 14px;
  color: #555555;
}

.bold {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.container {
  max-width: 900px;
  margin: 50px auto;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.bg-dark {
  background: linear-gradient(120deg, rgb(172, 172, 3), navy) !important;
}

.text-white h2,
.text-white h4,
.text-white p {
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

.progress {
  height: 5px;
  background: #444;
  border-radius: 5px;
}

.progress-bar {
  background: #0bb5f4;
}

h3 {
  color: #0bb5f4;
  font-weight: 700;
}

ul {
  padding-left: 20px;
}

h3,
hr {
  margin-top: 20px;
}

h4 {
  margin-bottom: 10px;
  justify-content: center;
}

p i {
  color: #0bb5f4;
  margin-right: 8px;
}

.hobbies i {
  font-size: 24px;
  color: #0bb5f4;
  margin-right: 10px;
}

.col-md-4 {
  padding: 0 !important;
}

.contact-info,
.skills,
.social-links {
  margin-bottom: 50px;
}


.NextResume button {
  background-color: navy;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  float: right;
}

.NextResume button:hover {
  background-color: #660000; /* darker red on hover */
  color: white;
}

.container {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-animation {
  animation: flip 1s;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}